.test1 {

}

.test2 {

}

.mainList {
    margin-top:20px;
    margin-bottom:20px;
    padding-bottom:10px;
    padding-top:10px;
    width:80%;;
    margin-left:10%;
    background-color: white;
    border: grey;
    border-radius: 15px;
    border-color: grey;
    border-width:2px;
    border-style:solid;
}
body {
    width:94%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 3%;
}

#wholeSite {
    background: yellow;
    border-style: solid;
    border-width: 6px;
    border-color: black;
    border-radius: 15px;
    margin-bottom: 20px;
}

#input {
    font-size:20pt;
    text-align: center;
}

#input 
    [type=text] {
    width: 60%;
    /* margin-left:20%; */
    margin-top:15px;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 4px;
    font-size: 20pt;
}



#heading {
    color: white;
    text-decoration: underline white;
    background: black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20pt;
}



#bottom {
    padding-top: 20px;
    background: black;
    color: white;
    text-align: center;
    font-size:20pt;
    padding-bottom: 10px;
    padding-top: 10px;
}


/* @media (min-width: 576px) and (max-width: 767.98px) { 
    #smallScreen {
display: none;
    }
} */
.bigScreen {
    display:none;
}
.smallScreen {
    display:none;
}

@media (max-width: 767.98px) { 
    .smallScreen {
display: block;
    }
}

@media (min-width: 768px) { 
    .bigScreen {
display: block;
    }
    .listButtons {
        float: right;
    }
}

@media only screen and (max-width:600px) {
    #bottom {
        color: red;
        text-decoration: underline red;
    }
}