.mainList {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 80%;
    margin-left: 10%;
    background-color: white;
    border: grey;
    border-radius: 15px;
    border-color: grey;
    border-width: 2px;
    border-style: solid;
}

body {
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    color: black;
    margin-top: 20px;
}

#wholeSite {
    background: yellow;
    border-style: solid;
    border-width: 6px;
    border-color: black;
    border-radius: 15px;
    margin-bottom: 20px;
}

.todoText {
    margin-top:6px;
}

.buttona {
    margin-bottom: 5px;
}

#todo2 p {
    text-decoration: line-through;
}

.notifications {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#input {
    width: 80%;
    margin-left: 10%;
    margin-top: 25px;
    text-align: center;
}

#todoInput {
    margin-bottom: 10px;
    font-size: 20pt;
}

#heading {
    color: white;
    text-decoration: underline white;
    background: black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20pt;
}

#bottom {
    padding-top: 20px;
    background: black;
    color: white;
    text-align: center;
    font-size: 20pt;
    padding-bottom: 10px;
    padding-top: 10px;
}

@media only screen and (max-width:600px) {
    #bottom {
        color: red;
        text-decoration: underline red;
    }
}