body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=text] {
    border-radius: 4px;
    width: 66%;
}

#wholepage {
    border-radius: 15px;
    border: 6px solid black;
    background: yellow;
    height: 100% /*makes the yellow background go to the bottom edge of the window */
}

#heading {
    color: white;
    text-decoration: underline white;
    background: black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#enter_todo {
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

#todolist {
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 20px;
}


#bottom {
    background: black;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    display: block;
}

/* @media (min-width: 576px) and (max-width: 767.98px) { 
    #smallScreen {
display: none;
    }
} */
.bigScreen {
    display:none;
}
.smallScreen {
    display:none;
}

@media (max-width: 767.98px) { 
    .smallScreen {
display: block;
    }
}

@media (min-width: 768px) { 
    .bigScreen {
display: block;
    }
}

@media only screen and (max-width:600px) {
    #bottom {
        color: red;
        text-decoration: underline red;
    }
}